@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Handlee", cursive;
}

div.parallax {
  background-image: url("../imagenes/PatronPlantasFinal80.png");
  background-attachment: fixed;
}

.btn-custom {
  background-color: #94b333;
  color: white;
  border: none;
}

.btn-custom:hover {
  background-color: #7ca026;
}